<div class="topBlock" >
    <div class="logo">Cyber City Comic</div>
    <!-- <div class="search">
        <input id="inputNum" type="text" placeholder="Comic Number">
        <div id="jumpBut" class="search">Jump</div>
    </div> -->
</div>