<!DOCTYPE html>
<html>
    <head>
        <%- include('../partial/head'); %>
    </head>
    <body>
        <h1>Sorry!We Can't Find What You need!</h1>
        <a href="/">Press To Return Main Page</a>
    </body>
    <!-- <script type="text/javascript" src="myjs.js">
	</script> -->
</html>