<!DOCTYPE html>
<html>
    <head>
        <%- include('../partial/head'); %>
    </head>
    <body>
        <%- include('../partial/top'); %>
        <%- include('../partial/middle'); %>
        <%- include('../partial/bottom'); %>
    </body>
    <script type="text/javascript" src="/myjs.js">
	</script>
</html>